#cs-wrapper {
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background-color:transparent;
}

#cs-main {
  position:relative;
  height:100%;
  width:60%;
  margin:0 auto;
}

#cs-overlay {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10000000000000000 !important;
    background-color:black;
    opacity: 0.6;
}

#cs-header {
  position:relative;
  top:0px;
  height:70px;
  width:100%;
  background:transparent;
  z-index:10000000000000001 !important;
}

#cs-close{
 position:absolute;
 top:15px;
 right:15px;
 height:39px;
 width:39px;
 background:url('close.png');;
 z-index:10000000000000001 !important;
}

#cs-info-wrapper{
  position:relative;
  background-color:transparent;
  width:100%;
  height:140px;
  z-index:10000000000000001 !important; 
  
}

#cs-top-line{
  position:relative;
  width:100%;
  margin: 0 auto;
  background-color:transparent;
  height:40px;
  z-index:10000000000000001 !important; 
  
}
#cs-label {
  position: absolute;
  color:white;
  top:10px;
  font-size:16px;
  z-index:10000000000000001 !important;
  letter-spacing:1px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight:"Regular" ;
}

#cs-rule {
      position:relative;
      height: 1px;
      width:100%;
      margin: 0 auto;
      
      top:0px;
      background:white;
      /* Set the hr color */
      z-index:10000000000000001 !important; 
}

#cs-bottom-line{
  position:relative;
  width:100%;
  margin: 0 auto;
  background-color:transparent;
  height:70px;
  z-index:10000000000000001 !important; 
}

#cs-video-title {
  position: absolute;
  color:white;
  top:30px;
  font-size:27px;
  z-index:10000000000000001 !important;
  letter-spacing:1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight:"Light" ;
}

#cs-video-time-remaining {
    position: absolute;
    right:0px;
    top:30px;
    color:white;
    font-size:27px;
    z-index:10000000000000001 !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica Neue", 
      Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight:"Light" ;
}

#cs-player-wrapper{
  margin:0 auto;
  background-color:transparent;
  height:500px;
  z-index:10000000000000001 !important;
}

#cs-player-container{
  z-index:10000000000000001 !important;
  
}

#cs-video-player {
  z-index:10000000000000001 !important;
  
}

.largeVideoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

* html .largeVideoWrapper {
	margin-bottom: 0px;
}

.largeVideoWrapper .video-js {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}


#cs-video-toolbar {
 position:relative;
 width:60%;
 margin:0 auto;
 height:140px;
 z-index:10000000000000001 !important;
 
}

#cs-slug-wrapper{
  position:fixed;
  bottom:35px;
  right:0px;
  width:300px;
  height:200px;
  background:transparent;
  z-index:10000000000000001 !important;
}


#cs-small-player-container{
}

#cs-small-video-player{
}


.smallVideoWrapper .video-js,
.smallVideoWrapper embed, 
.smallVideoWrapper object,
.smallVideoWrapper video {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background:black;
  border:1px solid black;
}

/*.wideScreen {
  padding-bottom: 56.25%;
}
*/
.fourBYthree {
  padding-bottom: 75%;
}

.chrome_25 {
  padding-top: 25px;
}

.chrome_35 {
  padding-top: 35px;
}

